openapi: 3.1.0
info:
  description: "Online task planning system — manage tasks, work slots, dependencies\
    \ and generate optimized plans."
  title: ChronoScope API
  version: 1.1.0
servers:
- description: Production
  url: https://chronoscope.ni0.team/api
security:
- oauth2: []
tags:
- description: "Create, read, update and delete tasks and their dependencies"
  name: Tasks
- description: Gather information about organizations or modify them
  name: Organization
- description: Manage available work slots used by the planning algorithm
  name: Work Slots
- description: Retrieve the current identity and manage account linking
  name: Identity
- description: Read planned scopes for dynamic tasks
  name: Scopes
- description: Generate optimized task plans from available work slots
  name: Planning
paths:
  /v1/identity:
    get:
      description: "Retrieve information about the identity contained in the access\
        \ token, including all linked accounts and organizationId names for which\
        \ the authenticated account has admin privileges, resolved via the Keycloak\
        \ Admin Client."
      operationId: getIdentity
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/IdentityResponse"
          description: Identity retrieved successfully
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
      summary: Get current identity
      tags:
      - Identity
  /v1/identity/accounts:
    post:
      description: "Send a confirmation link to the target e-mail address. If the\
        \ target accepts, the two accounts' identities are merged."
      operationId: requestAccountLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountLinkRequest"
        required: true
      responses:
        "202":
          description: Link e-mail sent
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Validation error
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
      summary: Request account linking
      tags:
      - Identity
  /v1/identity/accounts/confirm:
    post:
      description: Confirm a pending account link using the token received via e-mail.
        Returns the IDs of both linked accounts.
      operationId: confirmAccountLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountLinkConfirmRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AccountLinkConfirmResponse"
          description: Account link confirmed
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Validation error or invalid/expired token
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
      summary: Confirm account linking
      tags:
      - Identity
  /v1/organizations/{organizationId}/invitations:
    get:
      description: Returns all pending invitations for the organization. The identity
        must be an admin of the organization.
      operationId: getInvitations
      parameters:
      - description: Organization ID
        in: path
        name: organizationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OrganizationInvitationsResponse"
          description: Invitations retrieved successfully
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Not an admin of the organization
      summary: List organization invitations
      tags:
      - Organization
  /v1/organizations/{organizationId}/invitations/{invitationId}:
    delete:
      description: Deletes a pending invitation. The identity must be an admin of
        the organization.
      operationId: deleteInvitation
      parameters:
      - description: Organization ID
        in: path
        name: organizationId
        required: true
        schema:
          type: string
      - description: Invitation ID
        in: path
        name: invitationId
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Invitation deleted
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Not an admin of the organization
      summary: Delete organization invitation
      tags:
      - Organization
    put:
      description: Resends an existing invitation email. The identity must be an admin
        of the organization.
      operationId: resendInvitation
      parameters:
      - description: Organization ID
        in: path
        name: organizationId
        required: true
        schema:
          type: string
      - description: Invitation ID
        in: path
        name: invitationId
        required: true
        schema:
          type: string
      responses:
        "202":
          description: Invitation resent
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Not an admin of the organization
      summary: Resend organization invitation
      tags:
      - Organization
  /v1/organizations/{organizationId}/members:
    get:
      description: Retrieves members of a specific organization.
      operationId: getOrganizationMembers
      parameters:
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OrganizationMembersResponse"
          description: Members retrieved successfully
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Not an admin of the organization
      summary: Get Organization members
      tags:
      - Organization
    post:
      description: Sends an invitation email to the given address. The identity must
        be an admin of the organization.
      operationId: inviteUser
      parameters:
      - description: Organization ID
        in: path
        name: organizationId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteUserRequest"
        required: true
      responses:
        "202":
          description: Invitation sent
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Validation error
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Not an admin of the organization
      summary: Invite user to organization
      tags:
      - Organization
  /v1/organizations/{organizationId}/members/{id}:
    delete:
      description: Removes a member from the organization. The identity must be an
        admin of the organization.
      operationId: removeMember
      parameters:
      - description: Organization ID
        in: path
        name: organizationId
        required: true
        schema:
          type: string
      - description: User ID to remove
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Member removed successfully
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Not an admin of the organization
      summary: Remove organization member
      tags:
      - Organization
  /v1/plan:
    post:
      description: Run the planning algorithm for the given account. Returns planned
        task scopes.
      operationId: plan
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlanRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ScopeResponse"
          description: Plan generated successfully
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Validation error
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
        "409":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Not enough work slots to accommodate all tasks
      summary: Generate plan
      tags:
      - Planning
  /v1/scopes:
    get:
      description: List all scopes assigned to dynamic tasks belonging to the current
        identity.
      operationId: getScopes
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ScopeResponse"
          description: Scopes retrieved successfully
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
      summary: List scopes
      tags:
      - Scopes
  /v1/tasks:
    get:
      description: "Return all tasks belonging to the current identity, including\
        \ tasks from linked accounts. Each task is either a StaticTask or a DynamicTask,\
        \ discriminated by the \"type\" field."
      operationId: getTasks
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: "#/components/schemas/DynamicTaskResponse"
                  - $ref: "#/components/schemas/StaticTaskResponse"
          description: Tasks retrieved successfully
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
      summary: List tasks
      tags:
      - Tasks
    post:
      description: Create a new task. Set "type" to "static" for a StaticTask or "dynamic"
        for a DynamicTask with scheduling metadata.
      operationId: createTask
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/DynamicTaskCreateRequest"
              - $ref: "#/components/schemas/StaticTaskCreateRequest"
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/DynamicTaskResponse"
                - $ref: "#/components/schemas/StaticTaskResponse"
          description: Task created
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Validation error
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Organization not linked to account
      summary: Create task
      tags:
      - Tasks
  /v1/tasks/{id}:
    delete:
      description: "Delete a task and all its associated labels, scopes and dependencies."
      operationId: deleteTask
      parameters:
      - description: Task ID
        in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "204":
          description: Task deleted
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Task not found
      summary: Delete task
      tags:
      - Tasks
    get:
      description: "Retrieve a single task by ID, including its labels, scopes (dynamic\
        \ tasks) and dependencies."
      operationId: getTask
      parameters:
      - description: Task ID
        in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/DynamicTaskResponse"
                - $ref: "#/components/schemas/StaticTaskResponse"
          description: Task retrieved successfully
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Task not found
      summary: Get task
      tags:
      - Tasks
    patch:
      description: Partially update a task (PATCH semantics — omitted fields are left
        unchanged). The "type" discriminator must match the existing task type.
      operationId: updateTask
      parameters:
      - description: Task ID
        in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/DynamicTaskUpdateRequest"
              - $ref: "#/components/schemas/StaticTaskUpdateRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: "#/components/schemas/DynamicTaskResponse"
                - $ref: "#/components/schemas/StaticTaskResponse"
          description: Task updated successfully
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Validation error
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
        "403":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Organization not linked to account
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Task not found
      summary: Update task
      tags:
      - Tasks
  /v1/workslots:
    get:
      description: Return all work slots belonging to the current identity.
      operationId: getWorkSlots
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkSlotResponse"
          description: Work slots retrieved successfully
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
      summary: List work slots
      tags:
      - Work Slots
    post:
      description: Create a new available work slot for the given account.
      operationId: createWorkSlot
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkSlotCreateRequest"
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/WorkSlotResponse"
          description: Work slot created
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Validation error
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
      summary: Create work slot
      tags:
      - Work Slots
  /v1/workslots/{id}:
    delete:
      description: Delete a work slot.
      operationId: deleteWorkSlot
      parameters:
      - description: Work slot ID
        in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "204":
          description: Work slot deleted
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Work slot not found
      summary: Delete work slot
      tags:
      - Work Slots
    patch:
      description: Update the start/end times of an existing work slot (PATCH semantics).
      operationId: updateWorkSlot
      parameters:
      - description: Work slot ID
        in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkSlotUpdateRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/WorkSlotResponse"
          description: Work slot updated
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Validation error
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Missing or invalid token
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: Work slot not found
      summary: Update work slot
      tags:
      - Work Slots
components:
  schemas:
    AccountLinkConfirmRequest:
      type: object
      properties:
        token:
          type: string
          minLength: 1
      required:
      - token
    AccountLinkConfirmResponse:
      type: object
      properties:
        sourceAccountId:
          type: integer
          format: int64
        status:
          type: string
        targetAccountId:
          type: integer
          format: int64
      required:
      - sourceAccountId
      - status
      - targetAccountId
    AccountLinkRequest:
      type: object
      properties:
        targetEmail:
          type: string
          format: email
          minLength: 1
      required:
      - targetEmail
    AccountResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        identityId:
          type: integer
          format: int64
      required:
      - id
      - identityId
    DynamicTaskCreateRequest:
      allOf:
      - $ref: "#/components/schemas/TaskCreateRequest"
      - type: object
        properties:
          dependencies:
            type: array
            items:
              type: integer
              format: int64
          description:
            type: string
          difficulty:
            type: integer
            format: int32
            maximum: 5
          duration:
            type: string
          endAt:
            type: string
            format: date-time
          labels:
            type: array
            items:
              $ref: "#/components/schemas/LabelCreateRequest"
          maxScopeDuration:
            type: string
          minScopeDuration:
            type: string
          name:
            type: string
            minLength: 1
          organizationId:
            type: string
            minLength: 1
          startAt:
            type: string
            format: date-time
      description: Create request for a dynamic (schedulable) task with duration and
        scope constraints
      required:
      - dependencies
      - description
      - difficulty
      - duration
      - endAt
      - labels
      - maxScopeDuration
      - minScopeDuration
      - name
      - organizationId
      - startAt
    DynamicTaskResponse:
      allOf:
      - $ref: "#/components/schemas/TaskResponse"
      - type: object
        properties:
          dependencies:
            type: array
            items:
              type: integer
              format: int64
          dependents:
            type: array
            items:
              type: integer
              format: int64
          description:
            type: string
          difficulty:
            type: integer
            format: int32
          duration:
            type: string
          elapsed:
            type: string
          endAt:
            type: string
            format: date-time
          id:
            type: integer
            format: int64
          labels:
            type: array
            items:
              $ref: "#/components/schemas/LabelResponse"
          maxScopeDuration:
            type: string
          minScopeDuration:
            type: string
          name:
            type: string
          organizationId:
            type: string
          scopes:
            type: array
            items:
              $ref: "#/components/schemas/ScopeResponse"
          startAt:
            type: string
            format: date-time
      description: "Response for a dynamic (schedulable) task, including its scopes\
        \ and dependencies"
      required:
      - dependencies
      - dependents
      - difficulty
      - duration
      - elapsed
      - endAt
      - id
      - labels
      - maxScopeDuration
      - minScopeDuration
      - name
      - scopes
      - startAt
    DynamicTaskUpdateRequest:
      allOf:
      - $ref: "#/components/schemas/TaskUpdateRequest"
      - type: object
        properties:
          dependencies:
            type: array
            items:
              type: integer
              format: int64
          description:
            type: string
          difficulty:
            type: integer
            format: int32
            maximum: 5
          duration:
            type: string
          elapsed:
            type: string
          endAt:
            type: string
            format: date-time
          labels:
            type: array
            items:
              $ref: "#/components/schemas/LabelCreateRequest"
          maxScopeDuration:
            type: string
          minScopeDuration:
            type: string
          name:
            type: string
            maxLength: 2147483647
            minLength: 1
          organizationId:
            type: string
          startAt:
            type: string
            format: date-time
      description: Update request for a dynamic (schedulable) task
    IdentityResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: "#/components/schemas/AccountResponse"
        adminOrganizations:
          type: array
          description: "Organization IDs for which the authenticated identity has\
            \ admin privileges, resolved server-side via Keycloak Admin Client lookups."
          items:
            type: string
          uniqueItems: true
        id:
          type: integer
          format: int64
        organizations:
          type: array
          description: Organizations to which the identity belongs.
          items:
            $ref: "#/components/schemas/Organization"
          uniqueItems: true
      required:
      - accounts
      - adminOrganizations
      - id
      - organizations
    Invitation:
      type: object
      properties:
        email:
          type: string
        expired:
          type: boolean
        expiresAt:
          type: string
          format: date-time
        firstName:
          type: string
        id:
          type: string
        inviteLink:
          type: string
        lastName:
          type: string
      required:
      - email
      - expired
      - expiresAt
      - firstName
      - id
      - inviteLink
      - lastName
    InviteUserRequest:
      type: object
      properties:
        targetMail:
          type: string
          format: email
          minLength: 1
      required:
      - targetMail
    LabelCreateRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
      required:
      - name
    LabelResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        taskId:
          type: integer
          format: int64
      required:
      - id
      - name
      - taskId
    Organization:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    OrganizationInvitationsResponse:
      type: object
      properties:
        invitations:
          type: array
          items:
            $ref: "#/components/schemas/Invitation"
      required:
      - invitations
    OrganizationMember:
      type: object
      properties:
        email:
          type: string
        firstName:
          type: string
        id:
          type: string
        lastName:
          type: string
        userName:
          type: string
      required:
      - email
      - firstName
      - id
      - lastName
      - userName
    OrganizationMembersResponse:
      type: object
      properties:
        members:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationMember"
      required:
      - members
    PlanRequest:
      type: object
      properties:
        organizationId:
          type: string
    ProblemDetail:
      type: object
      properties:
        detail:
          type: string
        instance:
          type: string
          format: uri
        properties:
          type: object
          additionalProperties: {}
        status:
          type: integer
          format: int32
        title:
          type: string
        type:
          type: string
          format: uri
    ScopeResponse:
      type: object
      properties:
        dynamicTaskId:
          type: integer
          format: int64
        endAt:
          type: string
          format: date-time
        id:
          type: integer
          format: int64
        startAt:
          type: string
          format: date-time
      required:
      - dynamicTaskId
      - endAt
      - id
      - startAt
    StaticTaskCreateRequest:
      allOf:
      - $ref: "#/components/schemas/TaskCreateRequest"
      - type: object
        properties:
          description:
            type: string
          difficulty:
            type: integer
            format: int32
            maximum: 5
          endAt:
            type: string
            format: date-time
          isBlocker:
            type: boolean
          labels:
            type: array
            items:
              $ref: "#/components/schemas/LabelCreateRequest"
          name:
            type: string
            minLength: 1
          organizationId:
            type: string
            description: Organization ID. Required unless this static task is a blocker.
          rrule:
            type: string
          startAt:
            type: string
            format: date-time
      description: Create request for a static (fixed-time) task
      required:
      - description
      - difficulty
      - endAt
      - isBlocker
      - labels
      - name
      - rrule
      - startAt
    StaticTaskResponse:
      allOf:
      - $ref: "#/components/schemas/TaskResponse"
      - type: object
        properties:
          description:
            type: string
          difficulty:
            type: integer
            format: int32
          endAt:
            type: string
            format: date-time
          id:
            type: integer
            format: int64
          isBlocker:
            type: boolean
          labels:
            type: array
            items:
              $ref: "#/components/schemas/LabelResponse"
          name:
            type: string
          organizationId:
            type:
            - string
            - "null"
            description: Organization ID. Null for blocker tasks that are not assigned
              to an organizationId.
          rrule:
            type: string
          startAt:
            type: string
            format: date-time
      description: Response for a static (fixed-time) task
      required:
      - difficulty
      - endAt
      - id
      - isBlocker
      - labels
      - name
      - rrule
      - startAt
    StaticTaskUpdateRequest:
      allOf:
      - $ref: "#/components/schemas/TaskUpdateRequest"
      - type: object
        properties:
          description:
            type: string
          difficulty:
            type: integer
            format: int32
            maximum: 5
          endAt:
            type: string
            format: date-time
          isBlocker:
            type: boolean
          labels:
            type: array
            items:
              $ref: "#/components/schemas/LabelCreateRequest"
          name:
            type: string
            maxLength: 2147483647
            minLength: 1
          organizationId:
            type: string
          rrule:
            type: string
          startAt:
            type: string
            format: date-time
      description: Update request for a static (fixed-time) task
    TaskCreateRequest:
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
      required:
      - type
    TaskResponse:
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
      required:
      - type
    TaskUpdateRequest:
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
      required:
      - type
    WorkSlotCreateRequest:
      type: object
      properties:
        endAt:
          type: string
          format: date-time
        organizationId:
          type: string
        startAt:
          type: string
          format: date-time
      required:
      - endAt
      - organizationId
      - startAt
    WorkSlotResponse:
      type: object
      properties:
        endAt:
          type: string
          format: date-time
        id:
          type: integer
          format: int64
        organizationId:
          type: string
        startAt:
          type: string
          format: date-time
      required:
      - endAt
      - id
      - organizationId
      - startAt
    WorkSlotUpdateRequest:
      type: object
      properties:
        endAt:
          type: string
          format: date-time
        startAt:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      description: Keycloak OAuth2 (Authorization Code flow)
      flows:
        authorizationCode:
          authorizationUrl: https://auth.ni0.team/realms/ni0/protocol/openid-connect/auth
          scopes:
            read: Read access
            write: Write access
          tokenUrl: https://auth.ni0.team/realms/ni0/protocol/openid-connect/token
      type: oauth2
